h1 {
    text-align: center
}



input.invalid {
    background-color: #ffdddd
}

.tab {
    display: none
}

button:hover {
    opacity: 0.8
}

#submit-btn {
    display: none;
}

#success-msg {
    display: none;
}